/* Para ver bien las casillas (Quizás provisional)
.casilla {
    border: 1px dashed black
    !!!!!!!!! AUMENTAR TAMAÑO DE CASILLA AL QUITAR BORDES !!!!!!!!!
}
-------------------------- */

@media(max-width:400px) {
    #tablero {
        width: 80px;
        height: 80px;

    }
    .casilla {
        display: inline-block;
        width: 2px;
        height: 2px;
        background-image: url("Textures/casilla.png");
        float: left;
    }
    .serpiente {
        background-size: contain;
    }
    
}

@media(min-width:401px) {
    body,html{
        margin: 0;
        padding: 0;
    }
    body {
        background-color: green!important; 
    }
    #tablero {
        width: 800px;
        height: 800px;
        /* margin-left: 300px;
        margin-top: 300px;
        margin-bottom: 300px; */
    }
    .casilla {
        /* display: inline-block; */
        background-image: url("Textures/casilla.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpiente {
        /* background-image:url('Textures/cabezaSerpienteAbajo.png'); */
        background-size: contain;
    }
    *.fruta {
        width: 20px;
        height: 20px;
        float: left;
        background-color: #ff1f4c;
    }
    *.frutaCheta {
        width: 20px;
        height: 20px;
        float: left;
        background-color: gold;
    }
}