/* Para ver bien las casillas (Quizás provisional)
.casilla {
    border: 1px dashed black
    !!!!!!!!! AUMENTAR TAMAÑO DE CASILLA AL QUITAR BORDES !!!!!!!!!
}
-------------------------- */

@media(max-width:400px) {
    #tablero {
        width: 80px;
        height: 80px;

    }
    .casilla {
        display: inline-block;
        width: 2px;
        height: 2px;
        background-image: url("Textures/casilla.png");
    }
    .serpiente {
        background-size: contain;
    }
    
}

@media(min-width:401px) {
    body,html{
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #1d951d !important; 
    }
    div.container {
        justify-content: center;
    }
    #tablero {
        width: 800px;
        height: 800px;
        margin-left: 14%;
        /*margin-top: 300px;
        margin-bottom: 300px; */
    }
    #contadorTiempo {
        color: black;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
    }
    #contadorPuntos {
        color: #fffb00;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
    }
    .casilla {
        /* display: inline-block; */
        background-size: contain;
        background-image: url("Textures/casilla.png");
        width: 20px;
        height: 20px;
        float: left;
        /* rgb(197, 234, 84) */
    }
    
    #estadoDeJuego {
        font-size: 40px;
        position: absolute;
        left: 32%;
        opacity: 0.5;
    }
    #cartelFinal {
        border: 2px #062277 solid;
        border-radius: 10px;
        padding: 10px;
        position: fixed;
        top: 150px;
        left: 795px;
        font-size: 50px;
        background-color: royalblue;
    }

    *
    *.fruta {
        background-size: contain;
        background-image: url("Textures/fruta.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .frutaCheta {
        background-size: contain;
        background-image: url("Textures/frutaCheta.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteAr {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteArriba.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteAb {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteAbajo.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteD {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteDerecha.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteI {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteIzquierda.png");
        width: 20px;
        height: 20px;
        float: left;
    }
}