/* Para ver bien las casillas (Quizás provisional)
.casilla {
    border: 1px dashed black
    !!!!!!!!! AUMENTAR TAMAÑO DE CASILLA AL QUITAR BORDES !!!!!!!!!
}
-------------------------- */

@media(max-width:400px) {
    #tablero {
        width: 80px;
        height: 80px;

    }
    .casilla {
        display: inline-block;
        width: 2px;
        height: 2px;
        background-image: url("Textures/casilla.png");
    }
    .serpiente {
        background-size: contain;
    }
    
}

@media(min-width:401px) {
    body,html{
        margin: 0;
        padding: 0;
    }
    body {
        background-color: hsl(120, 67%, 35%)!important; 
    }
    #tablero {
        width: 800px;
        height: 800px;
        margin-left: 300px;
        /*margin-top: 300px;
        margin-bottom: 300px; */
    }
    .casilla {
        /* display: inline-block; */
        background-size: contain;
        background-image: url("Textures/casilla.png");
        width: 20px;
        height: 20px;
        float: left;
        /* rgb(197, 234, 84) */
    }
    
    
    *.frutaCheta {
        background-size: contain;
        background-image: url("Textures/frutaCheta.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    *.fruta {
        background-size: contain;
        background-image: url("Textures/fruta.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteAr {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteArriba.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteAb {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteAbajo.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteD {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteDerecha.png");
        width: 20px;
        height: 20px;
        float: left;
    }
    .serpienteI {
        background-size: contain;
        background-image: url("Textures/cabezaSerpienteIzquierda.png");
        width: 20px;
        height: 20px;
        float: left;
    }
}